.roomlist {
  width: 30%;
  height: 100vh;
  background-color: whitesmoke;
}

.roomHeader {
  height: 15%;
  border-bottom: 1px solid #d8d6d5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(221, 221, 221);
}
