.homePage{
  display: flex;
  flex-wrap: wrap;
}
.roomlist {
  width: 30%;
  height: 100vh;
  background-color: floralwhite;
}

.roomHeader,
.friendsBar__nav {
  height: 6vh;  
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
}

.friendsBar__nav {
  background-color: #00bfa5;
  color: white;
}

.chat {
   width: 70%;
}