.room {
  border-bottom: 1px solid #d8d6d5;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.room:hover{
  transform: scale(1.1);
}

.room span {
  margin-left: 15px;
}
.conversations {
  overflow-y: scroll;
  height: 85%;
}
