.settingBtn {
  border: none;
  background: none;
  cursor: pointer;
}
.settingMenu {
  height: auto;
  background: white;
  border: 1px solid #ececec;
  border-radius: 2px;
  z-index: 15;
  position: absolute;
  left: 22%;
  top: 55px;
}

.settingMenu button {
  display: block;
  padding: 20px;
  color: #747474;
  border: none;
  outline: none;
  background-color: white;
  font-size: medium;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.settingMenu button:hover {
  background-color: #f3ecec;
}
