.settingBtn {
  border: none;
  background: none;
  cursor: pointer;
}
.settingMenu {
  height: auto;
  background: white;
  border: 1px solid #ececec;
  border-radius: 2px;
  z-index: 15;
  position: absolute;
  left: 12%;
  top: 50px;
}
.settingMenu ul {
  list-style-type: none;
}

.settingMenu ul li {
  display: block;
  padding: 20px;
  color: #747474;
}
